.section_one {
	display: flex;
	margin-top: 50px;
	span {
		display: flex;
		flex-direction: column;
		justify-content: center;

		p {
			width: 35vw;
			margin-right: 30px;
		}
	}
	img {
		height: 350px;
		width: 600px;
	}
}
.signUp {
	display: flex;
	align-items: center;

	a {
		padding: 10px 15px;
		background-color: #a52a2a;
		border-radius: 5px;
		text-decoration: none;
		color: black;
		font-size: 20px;
		margin: 15px;
	}
}
.features {
	display: flex;

	& > * {
		margin: 10px;
	}
	[class^="section"] {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-around;
		width: 400px;
		margin-top: 50px;

		img {
			width: 40px;
		}
		p {
			width: 300px;
		}
	}
}
p {
	font-size: larger;
}
