body {
	margin: 0;
	// overflow: hidden;

	.new_meeting {
		display: grid;
		grid: 10vh 35vh 25vh 20vh 10vh / 20vw auto 20vw 12vw 25vw;
		grid-template-areas:
			"logo space available_participants link profile"
			"video_feed video_feed video_feed video_feed participants"
			"video_feed video_feed video_feed video_feed chats"
			"speakers speakers speakers speakers chats"
			"controls controls controls end_call type_something";
		background-color: #16192a;
		color: #928e8e;

		.logo {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-left: 19px;
			grid-area: logo;

			img {
				width: 70px;
				height: 50px;
				border-radius: 9px;
			}
			span {
				p.logo_name {
					font-size: 24px;
				}
				.date {
					font-size: 20px;
				}
			}
		}
		.space {
			grid-area: space;
		}
		.available_participants {
			grid-area: available_participants;
		}
		.link {
			grid-area: link;
			align-self: center;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 45px;
			background-color: #1d275b;
			border-radius: 23px;
			margin: 15px 0px;
			padding: 5px;

			img {
				width: 30px;
				margin-left: -35px;
			}
			p {
				font-size: 20px;
				margin: none;
				text-wrap: nowrap;
				overflow: hidden;
				padding-top: 10px;
			}
		}
		.profile {
			grid-area: profile;
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: auto;
			text-decoration: none;
			padding: 0px 10px;
			border-radius: 40px;
			background-color: #242738;
			width: 75%;
			height: 60px;
			color: #928e8e;

			div {
				display: flex;
				img[alt="link"] {
					width: 50px;
					margin-right: 10px;
					margin-left: 5px;
				}
				span {
					display: flex;
					flex-direction: column;
					width: auto important;

					pre.user_name {
						font-size: 20px;
						font-weight: 900;
						width: auto important;
						margin-bottom: 0px;
					}
					p.role {
						font-size: 14px;
						line-height: 0.5;
						margin-top: 5px;
					}
				}
			}
			[alt="profile"] {
				width: 5px;
				height: 40px;
				margin-right: 25px;
			}
		}
		.video_feed {
			grid-area: video_feed;
			background-color: hsla(231, 21%, 17%, 1);
			display: flex;
			align-items: center;
			justify-content: center;

			.user {
				width: 100%;
				height: 100%;
				padding: 15px 45px;
				& > * {
					border-radius: 15px;
				}
				.user-name {
					background-color: #2427384d;
					bottom: 7px;
					left: 7px;
					position: absolute;
					padding: 5px 10px;
					border-radius: 20px;
					color: #fff;
					width: auto;
				}
			}
			.join-room {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;

				img {
					width: 100px;
					margin: 5px;
					border-radius: 10px;
				}
				button {
					width: 150px;
					border-radius: 10px;
					padding: 5px;
					background-color: #fff;
					color: #928e8e;
				}
			}
		}
		.participants {
			grid-area: participants;
			display: flex;
			flex-direction: column;
			border-top: 1px solid rgb(35, 38, 54);
			h2 {
				text-align: center;
				height: 20%;
				padding-top: 5px;
			}
			div {
				background-color: rgb(35, 38, 54);
				height: 80%;
			}
		}
		.chats {
			grid-area: chats;
			display: flex;
			flex-direction: column;
			padding-top: 5px;
			h2 {
				text-align: center;
				height: 20%;
			}
			div {
				background-color: rgb(35, 38, 54);
				height: 80%;
			}
		}
		.speakers {
			grid-area: speakers;
			display: flex;
			justify-content: start;
			align-items: center;
			padding: 45px;
			.user {
				flex: 0 0 200px;
				height: 15vh;
				flex-direction: row !important;
				align-self: self-end;
				margin: 0px 5px;
				& > * {
					border-radius: 15px;
				}
				.user-name {
					background-color: hsla(231, 22%, 18%, 0.3);
					bottom: 7px;
					left: 7px;
					position: absolute;
					padding: 5px 10px;
					border-radius: 20px;
					color: #fff;
					width: auto;
				}
			}
		}
		.controls {
			grid-area: controls;
			display: flex;
			align-items: center;
			justify-content: center;
			button {
				width: 70px;
				height: 70px;
				background-color: #0d6efd;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 5px;
				border-radius: 50%;

				img {
					width: 25px;
				}
			}
		}
		.end_call {
			grid-area: end_call;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			button {
				background-color: #fe4942;
				width: 120px;
				height: 50px;
				border-radius: 25px;
				padding: auto 5px;
				p {
					color: #fff;
					text-align: center;
					font-size: 16px;
					padding-top: 5px;
				}
			}
		}
		.type_something {
			grid-area: type_something;
			display: flex;
			// justify-content: center;
			align-items: center;
			margin: auto;
			width: 100%;
			input {
				border-radius: 20px;
				background-color: #23263633;
				border: none;
				padding: 10px 10px 10px 20px;
				width: 90%;
				&:hover,
				&:focus,
				&:active {
					border: none;
				}
			}
			button {
				border-radius: 50%;
				background-color: #1c6dfe;
				border: none;
				width: 55px;
				height: 50px;
				display: flex;
				align-items: center;
				margin-left: -40px;
				justify-content: center;
				img {
					width: 30px;
					height: 30px;
				}
			}
		}
	}
}
