body {
	margin: 0px;
	$background: #16192a;
	$videofeedBackground: #1c1f30;
	$inactive: #1d2656;
	$littleIcons: #919191;
	$chat: #202336;
	$controls: #0e74ff;
	$controls_off: #fc484a;
	$fontwhite: #fff;
	$fontGray: #e0e0e0;

	::-webkit-scrollbar:vertical {
		width: 10px;
		// height: 2px;
		// padding-bottom: 5px;
	}
	::-webkit-scrollbar-track:vertical {
		background-color: #ffffff1a;
	}

	::-webkit-scrollbar-thumb {
		width: 2px;
		height: 10px;
		background-color: #0e74ff;
	}
	// .scrollable-container {
	// 	overflow-x: auto;
	// 	scrollbar-width: none; /* Firefox */
	// 	-ms-overflow-style: none; /* IE and Edge */
	// 	scroll-behavior: smooth;
	//   }

	// ::-webkit-scrollbar {
	// 	display: none; /* Chrome, Safari and Opera */
	// }

	/* Custom scrollbar */
	::-webkit-scrollbar {
		height: 8px;
	}

	::-webkit-scrollbar-track {
		background: #ffffff1a;
		border-radius: 4px;
	}

	::-webkit-scrollbar-thumb {
		background-color: #3366ff;
		border-radius: 4px;
	}
	.image {
		width: 1.5rem;
		height: 1.5rem;
		margin-right: 10px;
		border-radius: 50%;
	}
	.p {
		font-size: 1rem;
		text-wrap: nowrap;
		overflow: hidden;
		padding: 0px;
		margin: 0px;
	}
	.new_meeting {
		display: grid;
		grid: 12vh 33vh 23vh 20vh 12vh / 20vw auto 20vw 12vw 23vw;
		grid-template-areas:
			"logo space available_participants link profile"
			"video_feed video_feed video_feed video_feed participants"
			"video_feed video_feed video_feed video_feed chats"
			"speakers speakers speakers speakers chats"
			"controls controls controls end_call type_something";
		background-color: $background;
		color: $fontGray;
		.logo {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-left: 1rem;
			grid-area: logo;
			img {
				width: 4rem;
				height: 3.5rem;
				border-radius: 1rem;
			}
			span {
				p.logo_name {
					font-size: 24px;
					color: #fff;
					margin-bottom: 0px;
				}
				.date {
					font-size: 14px;
					margin-bottom: -5px;
				}
			}
		}
		.space {
			grid-area: space;
		}
		.available_participants {
			grid-area: available_participants;
		}
		.link {
			grid-area: link;
			align-self: center;
			display: flex;
			align-items: center;
			width: 100%;
			height: 45px;
			background-color: $inactive;
			border-radius: 23px;
			padding: 5px 15px;

			img {
				@extend .image;
			}
			p {
				@extend .p;
			}
		}
		.profile {
			grid-area: profile;
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: auto;
			text-decoration: none;
			padding: 0px 10px;
			border-radius: 35px;
			background-color: $videofeedBackground;
			width: 80%;
			height: 60px;
			color: #928e8e;
			div {
				display: flex;
				align-items: center;
				padding: 15px;
				img[alt="link"] {
					width: 40px;
					height: 40px;
					background-color: #8d8383;
					padding: 5px;
					@extend .image;
				}
				span {
					p.user_name {
						@extend .p;
					}
					p.role {
						@extend .p;
						font-size: 14px;
						margin: 0px;
					}
				}
			}
			.ellipsesV {
				@extend .image;
				cursor: pointer;
				.ellipsesV:hover {
					background-color: red;
					border-radius: 50%;
				}
			}
		}
		.video_feed {
			grid-area: video_feed;
			background-color: $videofeedBackground;
			display: flex;
			align-items: center;
			justify-content: center;
			border-right: 1px solid $chat;
			.user {
				width: 100%;
				height: 100%;
				padding: 15px 45px;
				div.top-right-corner-icons {
					position: absolute;
					right: 5px;
					top: 5px;
					img {
						width: 40px;
						height: 40px;
						margin: 10px;
						background-color: rgba(36, 39, 56, 0.45);
						border-radius: 50%;
						padding: 10px;
						cursor: pointer;
					}
				}
				& > * {
					border-radius: 15px;
				}
				.user-name {
					background-color: $littleIcons;
					bottom: 7px;
					left: 7px;
					position: absolute;
					padding: 5px 10px;
					border-radius: 20px;
					color: #fff;
					width: auto;
				}
			}
			.join-room {
				width: 500px;
				height: 400px;
				background-color: $inactive;
				display: flex;
				// justify-content: center;
				align-items: center;
				border-radius: 15px;
				flex-direction: column;
				// box-shadow: 5px 5px 5px;

				img {
					width: 300px;
					margin: 45px;
					border-radius: 10px;
				}

				input {
					width: 400px;
					height: 50px;
					padding: 15px;
					border-radius: 15px;
					color: #fff;
					background-color: $chat;
				}
				button {
					width: 300px;
					border-radius: 10px;
					padding: 5px;
					background-color: $chat;
					color: #928e8e;
					margin-bottom: 45px;
				}
			}
		}
		.participants {
			grid-area: participants;
			display: flex;
			flex-direction: column;
			border-top: 1px solid #232636;
			height: 100%;
			p {
				padding: 25px 15px;
				font-size: 1.2em;
				height: auto;
				@extend .p;
			}
			.all-participants {
				background-color: $chat;
				display: flex;
				align-items: flex-start;
				flex-direction: column;
				height: 100%;
				overflow-y: scroll;
				overflow-x: hidden;
				.participant {
					padding: 5px;
					margin: 10px auto 0px auto;
					border-radius: 2rem;
					width: 21vw;
					height: 75px;
					display: flex;
					background-color: $videofeedBackground;
					align-items: center;
					justify-content: flex-start;
					img {
						width: 45px;
						height: 45px;
						margin: 0.5rem;
						padding: 10px;
						border-radius: 50%;
						background-color: #000;
					}
				}
			}
		}
		.chats {
			grid-area: chats;
			display: flex;
			flex-direction: column;
			height: 100%;
			p {
				padding: 25px 15px;
				font-size: 1.2em;
				height: auto;
				@extend .p;
			}
			div {
				background-color: $chat;
				height: 90%;
				padding: 5px 0px;

				ul {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					flex-direction: column;
					height: 100%;
					margin: 10px 0px;
					overflow-y: scroll;
					overflow-x: hidden;
					padding: 0px;
					li {
						display: flex;
						align-items: center;
						justify-content: center;
						list-style: none;
						border-radius: 15px;
						padding: 5px 0px;
						margin-top: 10px;
						color: $fontwhite;
						img {
							@extend .image;
						}
						.messages {
							display: flex;
							flex-direction: column;
							background-color: $videofeedBackground;
							width: 15vw;
							.name {
								font-size: 12px;
							}
						}
						.message-time {
							font-size: 12px;
							// margin-left: 50px;
						}
						// p {
						// 	background-color: $chat;
						// 	color: $fontGray;
						// }
					}
				}
			}
		}
		.speakers {
			grid-area: speakers;
			display: flex;
			align-items: center !important;
			justify-content: flex-start;
			height: 100%;
			padding: 15px 45px;
			background-color: $videofeedBackground;
			border-top: 3px solid $chat;
			flex-wrap: nowrap;
			overflow-x: scroll;
			overflow-y: hidden;
			.user {
				flex: 0 0 250px;
				height: 100%;
				margin: 5px;
				& > * {
					border-radius: 15px;
				}
				.user-name {
					background-color: $littleIcons;
					bottom: 7px;
					left: 7px;
					position: absolute;
					padding: 5px 10px;
					border-radius: 20px;
					color: #fff;
					width: auto;
				}
			}
		}
		.controls {
			grid-area: controls;
			display: flex;
			align-items: center;
			justify-content: center;
			button {
				width: 50px;
				height: 50px;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 5px;
				border-radius: 50%;
				img {
					width: 20px;
					height: 20px;
				}
			}
		}
		.end_call {
			grid-area: end_call;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			button {
				background-color: $controls_off;
				width: 120px;
				height: 50px;
				border-radius: 25px;
				padding: auto 5px;
				p {
					color: #fff;
					text-align: center;
					font-size: 16px;
					padding-top: 5px;
				}
			}
		}
		.type_something {
			grid-area: type_something;
			margin: auto;
			width: 100%;
			border-left: 1px solid $chat;
			padding: 0px 15px;
			form {
				display: flex;
				align-items: center;
			}
			input {
				border-radius: 25px;
				background-color: $videofeedBackground;
				border: 5px solid $chat;
				padding: 10px 10px 10px 20px;
				width: 90%;
				&:hover,
				&:focus,
				&:active {
					border: 1px solid $chat;
				}
				color: $fontwhite;
			}
			button {
				border-radius: 50%;
				background-color: $controls;
				border: none;
				width: 40px;
				height: 40px;
				display: flex;
				align-items: center;
				margin-left: -45px;
				justify-content: center;
				img {
					width: 20px;
					height: 20px;
					padding-left: 4px;
					transform: rotate(-30deg);
				}
			}
		}
	}
}
.alert {
	position: absolute;
	top: 20px;
	width: 80vw;
	left: 10vw;
	right: 10vw;
}
